<section class="wrapper">
  <div class="container">
    <div class="row">
      <div *ngFor="let group of userGroups" class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-dark click-col" (click)="onGroupClick(group)" [routerLink]="['/dashboard/group', group.id]">
          <div class="card-image-top" [style.background-image]="'url(' + group.imageUrl + ')'"></div>
          <div class="card-img-overlay">
            <div class="card-body">
              <h4 class="card-title">
                <a class="text-light">{{ group.name }}</a>
              </h4>
            </div>
          </div>
          <div class="card-footer">
            <div class="media">
              <div class="media-body">
                <h6 class="my-0 text-dark d-block">Created by: {{ group.createdBy }}</h6>
                <small>{{ group.description }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
