h2 {
    margin-top: 50px; /* 페이지의 맨 위에서 여백을 추가합니다 */
    padding: 0;
    white-space: nowrap; /* 텍스트가 잘리지 않도록 설정합니다 */
    overflow: hidden; /* 부모 요소를 벗어나는 텍스트를 숨깁니다 */
    text-overflow: ellipsis; /* 텍스트가 너무 길 경우 생략 기호(...)를 추가합니다 */
  }
  .modal {
    display: block; /* 모달이 보이도록 설정 */
    z-index: 1050; /* Bootstrap 기본 z-index 값 */
  }