body, html {
    height: 100%;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.message-list {
    width: 800px; 
}

.msg_cotainer img, .msg_cotainer_send img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    display: block; 
    margin-top: 10px; 
}

.message-item {
    width: 100%; 
}

.msg_card_body {
    overflow-y: auto;
    height: calc(100vh - 160px); 
}

.d-flex {
    display: flex;
    align-items: center;
}

.justify-content-start, .justify-content-end {
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.type_msg {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 5px;
    color: white;
    height: 40px;
    border-radius: 10px 0 0 10px;
    font-size: 14px;
}

.send_btn {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.send_btn:hover {
    background-color: #4cd137;
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    max-width: 100%;
}

.card {
    height: calc(90vh); /* 화면 비율에 맞추어 높이 증가 */
    max-width: 100%;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    position: relative;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    padding: 0;
    height: 70px; 
}

.msg_cotainer, .msg_cotainer_send {
    display: flex; 
    align-items: center; 
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    max-width: 75%; 
    word-wrap: break-word;
    margin-bottom: 15px;
}

.msg_cotainer_send {
    background-color: #78e08f; 
    margin-right: 10px; 
    margin-left: auto; 
    align-self: flex-end; 
    max-width: 75%; 
}


.msg_cotainer {
    background-color: #82ccdd; 
    margin-left: 10px;
    margin-right: auto; 
    max-width: 75%; 
    word-wrap: break-word; 
}
.user_img_msg {
    height: 40px;  
    width: 40px;
    border-radius: 50%; 
    border: 1.5px solid #f5f6fa;
  }
  .username {
    font-weight: lighter;
    color: #fff;
    margin-bottom: 2px;
    display: block;
}
.img_cont_msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-right: 1px; 
}
