<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div *ngIf="videoCallActive" class="video-section text-center">
            <video id="local-video" class="local-video" autoplay playsinline></video>
            <video id="remote-video" class="remote-video" autoplay playsinline></video>
        </div>
        <div class="chat">
            <div class="card">
                
                <div class="card-body msg_card_body">
                    <div class="message-list w-100">
                        
                        <div *ngFor="let message of messages" class="message-item">
                            
                            <div *ngIf="message.userId === userId" class="d-flex justify-content-end mb-4"> 
                                <div class="message-content"> 
                                    <!-- <div class="username">{{ message.username || 'Unknown' }}</div> 이름 -->
                                    <div class="msg_cotainer_send">
                                       
                                        <ng-container *ngIf="message.isImage; else textMessage">
                                            <img [src]="'http://localhost:3000' + message.message" class="user_img_msg" alt="Image" />
                                        </ng-container>
                                      
                                        <ng-template #textMessage>{{ message.message }}</ng-template>
                                    </div>
                                </div>
                                <div class="img_cont_msg ml-2"> <!-- 오른쪽 프로필 사진 -->
                                    <img [src]="'http://localhost:3000' + message.profileImageUrl" class="user_img_msg" alt="user image">
                                </div>
                            </div>

                            
                            <div *ngIf="message.userId !== userId" class="d-flex justify-content-start mb-4"> 
                                <div class="img_cont_msg mr-2"> 
                                    <img [src]="'http://localhost:3000' + message.profileImageUrl" class="user_img_msg" alt="user image">
                                </div>
                                <div class="message-content"> 
                                    <div class="username">{{ message.username || 'Unknown' }}</div> <!-- 이름 -->
                                    <div class="msg_cotainer">
                                        
                                        <ng-container *ngIf="message.isImage === true; else otherTextMessage">
                                            <img [src]="'http://localhost:3000' + message.message" class="user_img_msg" alt="Image" />
                                        </ng-container>
                                        
                                        <ng-template #otherTextMessage>{{ message.message }}</ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <!-- Chat Input -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button (click)="startVideoCall()" class="btn call_btn">
                                <i class="bi bi-telephone"></i> <!-- Bootstrap 전화기 아이콘 -->
                            </button>
                        </div>
                        <input type="text" [(ngModel)]="newMessage" class="form-control type_msg" placeholder="Type the message..." />
                        <input type="file" #fileInput (change)="onFileSelected($event)" class="form-control-file" />
                        <div class="input-group-append">
                            <button (click)="sendMessage()" class="btn send_btn">Send</button>
                            <button *ngIf="selectedFile" (click)="sendImage()" class="btn send_btn">Send Image</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
