<div class="content-container">
  
  <div class="main-content">
    
    <div *ngIf="!selectedChannel">
      <h2>{{ group?.name }}</h2>
      <p *ngIf="showGroupDescription">{{ group?.description || 'No description available' }}</p>

      <button (click)="goToGroupMembers()" class="btn btn-primary">
        Manage Members / Pending Users
       
      </button>
    </div>

    
    <router-outlet></router-outlet>
  </div>

 
  <div id="channel-sidebar" class="open">
    <h3>Channels</h3>
    <ul>
      <li *ngFor="let channel of group?.channels" 
          [routerLink]="['/dashboard/group', group?.id, 'channel', channel?.id]" 
          (click)="onChannelClick(channel)" class="channel-item">
        <a>{{ channel?.name }}</a>
      </li>
    </ul>
  </div>
</div>
