<div class="container">
  <div class="main-body">
  
    <!-- Breadcrumb -->
   
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img [src]="'http://localhost:3000' + user.profileImage" class="rounded-circle" width="150" height="150">
              <button class="btn btn-primary" (click)="fileInput.click()">Change Profile Image</button>
              <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
              <div class="mt-3">
                <input id="username" type="text" class="form-control" [(ngModel)]="user.username" />
               
                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                <button class="btn btn-primary">Follow</button>
                <button class="btn btn-outline-primary">Message</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            
          
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input id="email" type="text" class="form-control" [(ngModel)]="user.email" readonly />
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Role</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input id="roles" type="text" class="form-control" [value]="user.roles && user.roles.length ? user.roles.join(', ') : ''" readonly />

              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info" target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row gutters-sm">
          <div class="col-sm-12 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3">Join Request</h6>
                <ul class="list-group">
                  <li *ngFor="let group of userGroups" class="list-group-item d-flex justify-content-between align-items-center">
                    {{ group.name }}  <!-- 그룹 이름 표시 -->
                    <span class="badge badge-primary badge-pill">{{ group.id }}</span>  <!-- 그룹 ID 표시 -->
                    <button class="btn btn-success btn-sm ml-2" (click)="approveJoinRequest(group.id, user.id)">Accept</button>
                    <button class="btn btn-danger btn-sm ml-2" (click)="rejectJoinRequest(group.id, user.id)">Decline</button>
                  </li>
                </ul>
              </div>
            </div>
            
            <div class="card h-100">
              <div class="card-body">
              <h6 class="d-flex align-items-center mb-3">Interest Groups</h6>
              <ul class="list-group">
                <li *ngFor="let group of interestGroupDetails" class="list-group-item d-flex justify-content-between align-items-center">
                  {{ group.name }}  <!-- 그룹 이름 표시 -->
                  <span class="badge badge-primary badge-pill">{{ group.id }}</span>  <!-- 그룹 ID 표시 -->
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
