<div *ngIf="isLoading" class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<div *ngIf="!isLoading && !errorMessage">
  
  
  <div *ngIf="!showAllUsers">
   
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="mb-0">Member List</h2>
      <div class="ml-auto">
      
        <button class="button-74 mr-2" (click)="inviteUser()">Invite</button>
        
       
        <button class="button-74" (click)="requestUser()">Request</button>
      </div>
    </div>


    <ul class="list-group mb-4">
      <li *ngFor="let member of memberDetails" class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          {{ member?.username ?? 'Unknown User' }} ({{ member?.email ?? 'Unknown Email' }})
        </span>
        <button class="btn btn-danger btn-sm" (click)="deleteMember(member.id)">Delete</button>

      </li>
    </ul>
  </div>

  <div *ngIf="showInterestUsers && interestedUsers.length > 0">
    <h3>Requested Users</h3>
    <ul class="list-group mb-4">
      <li *ngFor="let user of interestedUsers" class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ user.username }} ({{ user.email }}) - {{ user.roles.join(', ') }}</span>

       
        <button class="btn btn-success btn-sm mr-2" (click)="allowUserToJoin(selectedGroup?.id, user.id)">Allow</button>

        <!-- Reject 버튼 -->
        <button class="btn btn-danger btn-sm" (click)="rejectUserFromGroup(selectedGroup?.id, user.id)">Reject</button>
      </li>
    </ul>
  </div>

 
  <div *ngIf="showAllUsers">
    <h3>All Users List</h3>
    <ul class="list-group mb-4">
      <li *ngFor="let user of allUsers" class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          {{ user.username }} ({{ user.email }}) - {{ user.roles?.length ? user.roles.join(', ') : 'No roles' }}
        </span>
       
        <button *ngIf="!selectedGroup?.pendingUsers?.includes(user.id)" class="btn btn-primary btn-sm" (click)="inviteUserToGroup(selectedGroup?.id, user.id)">
          Invite
        </button>
        
        <button *ngIf="selectedGroup?.pendingUsers?.includes(user.id)" class="btn btn-danger btn-sm" disabled>
          Pending
        </button>
      </li>
    </ul>
  </div>
</div>
